$max-width: 30em;

@mixin em-layout($font-size) {
    width: $max-width / $font-size * 1em;
    padding-top: $font-size / 4;
    padding-bottom: 1em / $font-size;
}

header {
    position: fixed;
    padding: 8px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content {
    flex: 1;
}

footer {
    padding: 8px;
    display: flex;
}

.previous-next {
    width: $max-width;
    margin: auto;
    display: flex;
    .next-post {
        flex-grow: 1;
        text-align: right;
    }
    .previous-post {
        flex-grow: 1;
        text-align: left;
    }
}

.commit-head, #copyright {
    flex: 1 0 0;
}

.content {

    padding-top: 5em;
    padding-bottom: 5em;


    .document {
        clear: both;
        h1, h2, h3, h4, p, blockquote, pre {
            margin: auto;
        }
        h1 {
            font-size: 3em;
            @include em-layout(3em);
        }
        h2 {
            font-size: 2.25em;
            @include em-layout(2.25em);
        }
        h3 {
            font-size: 1.75em;
            @include em-layout(1.75em);
        }
        h4 {
            font-size: 1.125em;
            @include em-layout(1.125em);
        }
        object.full {
            max-height: 400px;
        }
        p, blockquote, img.full, object.full {
            @include em-layout(1em);
            padding-bottom: 1em;
            display: block;
            margin: auto;
        }
        p {
            text-align: justify;
        }
        p.quote {
            @include em-layout(1.2em);
            font-size: 1.2em;
            text-align: center;
            padding-bottom: 1em;
        }
        .highlight {
            background-color: #f7f7f7;
            margin-bottom: 1em;
        }

        tt {
            background-color: #f3f3f3;
            padding: 3px;
        }

        pre {
            @include em-layout(1em);
            font-size: 1.5em;
            padding-top: 4em;
            padding-bottom: 4em;
        }

        img.dot-graph {
            max-height: 30em;
            max-width: 40em;
            padding-bottom: 1em;
            display: block;
            margin: auto;
        }

        .center {
            text-align: center;
        }

    }

    .previous-post {
        float: left;
    }

    .next-post {
        float: right;
    }

}

#copyright {
    text-align: right;
}
