body, h1, h2, h3, h4 {
    font-family: 'latin_modern_roman10_regular';
    font-style: normal;
    font-weight: normal;
}

strong {
    font-family: 'latin_modern_roman10_bold';
    font-style: normal;
    font-weight: normal;
}

em, blockquote {
    font-family: 'latin_modern_roman10_italic';
    font-style: normal;
}

strong em {
    font-family: 'latin_modern_roman10BdIt';
    font-style: normal;
    font-weight: normal;
}

p.quote {
    font-family: 'latin_modern_roman10_italic';
}
