body, h1, h2, h3, h4 {
    font-family: 'latin_modern_roman10_regular';
    font-style: normal;
    font-weight: normal;
}

strong {
    font-family: 'latin_modern_roman10_bold';
    font-style: normal;
    font-weight: normal;
}

em {
    font-family: 'latin_modern_roman10_italic';
    font-style: normal;
}

strong em {
    font-family: 'latin_modern_roman10BdIt';
    font-style: normal;
    font-weight: normal;
}

p.quote {
    font-family: 'latin_modern_roman10_italic';
}

.raw-latex {
    font-family: serif;
    color: white;
}

.strike {
    text-decoration: line-through;
}


.footnote-reference {
    position: relative;
    bottom: 1em;
    font-size: 0.5em;
}

.docutils.footnote.active {
    background: #FFDC00;
}

.footnote-container {
    width: 30em;
    margin: auto;
}

.maths-eqtexsvg-inline {
    margin-right: 1px;
}
