<html>
    <head>
        <meta charset="UTF-8">
        <title>
            BM Corser - <%block name="title_block">${title_text}</%block>
        </title>
        <link rel="stylesheet" href="/assets/css/layout.css">
        <link rel="stylesheet" href="/assets/css/docutils.css">
        <link rel="stylesheet" href="/assets/css/tomorrow.css">
        <script src="/bower_components/lodash/dist/lodash.min.js"></script>
        <script src="/bower_components/emojione/lib/js/emojione.min.js"></script>
        <script src="/assets/js/emoji.js"></script>
        <link rel="stylesheet" href="/bower_components/emojione/assets/css/emojione.min.css" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-58172015-1', 'auto')
          ga('send', 'pageview');
        </script>
    </head>
    <body>
        <%include file="header.html" />
        <%block name="content_block" />
        <%block name="footer_block">
          <footer>
            <div id="copyright">&copy; BM Corser, 2014</div>
          </footer>
        </%block>
    </body>
</html>
