<header>
    <a href="/">
        <img alt="Chief Wahoo" src="/assets/images/chief-wahoo.svg" />
    </a>
    <ul>
        <li><a href="/projects.html">projects</a></li>
        <li>
            <a href="/blog.html">blog</a>
            <div class="blog-tree"><%include file="posts.html" /></div>
        </li>
        <li><a href="/bio.html">bio</a></li>
        <li><a href="https://github.com/bmcorser">github</a></li>
        <li><a href="https://twitter.com/bmcorser">twitter</a></li>
    </ul>
</header>
